.list {
    font-family:sans-serif;
  }
  td {
    padding:10px; 
    border:solid 1px #eee;
  }
  
  input {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px
  }

  .sort {
    padding:8px 30px;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
  }
  .sort:hover {
    text-decoration: none;
    background-color:#1b8aba;
  }
  .containmente {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
  }
