.box1{
    padding: 50px;
    margin: auto;
    text-align: center;
    border: 3px solid gree
}

.box1 div{
    border: black solid 3px;
    width: 450px;
    height: 150px;
    margin: auto;
    font-size: 40px;
    text-align: center;
}

.box2 {
    display: flex;
    border: 3px solid red;
}

.img{
    width: 800px;
}

.box2 div{
    border: 3px bla solid;
    padding: 40px 0 0 0;
}