.content {
    background-color: #4e557a;
    width: 100%;
    padding-bottom: 140px;
}

.icons {
    color: white;

}
.icons ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.button2 {
    background: rgb(255, 255, 255);
    border: none;
    font-size: 120%;
    transition: all 0.3s ease 0s;
}

.button2:hover {
  background: rgb(63, 249, 255)
}
.icons span p {
    font-family: 'Francois One', sans-serif;
    font-size: 100%;
    margin: 5px;
    padding: 0;
}
.icons p {
    margin: 10px;
    padding: 2px;
    font-size: 120%;
    font-family: 'Dancing Script', cursive;
}
.footer {
    height: 140px;
    position: relative;
}

.foot {
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #a58585;
    bottom: 0;
    justify-content: space-around;
    opacity: 0.8;
}
.foot .line {
    margin: auto;
    width: 1px;
}
.itembox {
    background: #a58585;
    width: calc(100% / 3);
    height: 85px;
    margin: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.information ul { /*reset position from listing*/
    padding: 0;
    margin: 0;
}
.information p {
    color: white;
    margin: 3px;
    font-family: 'Dancing Script', cursive;
    font-size: 120%;
}
.information li {
    list-style: none;
    color: #eeeeee; 
}
.information li i {
    font-size: 125%;
    color: rgb(89, 114, 228);
}
.button {
    border-radius: 4px;
    background-color: #eeeeee;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.button span {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px; 
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.contact {
    padding: 5px;
    color: white;
}

.contact img {
    width: 60px;
}

.contact a ~ p {
    margin: 4px;
}

.footextra {
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #2e2e2e;
    color: white;
    font-weight: bold;
    font-size: 80%;
    opacity: 0.8;
}
.footextra:hover {
    color: khaki;
}

img[alt*="logo"] { /*attribute selector: value contains*/
    background: white;
}

a[alt*="luck"] { /*Instagram Picture*/
    color: teal;   
}

