body {
    margin: 0;
    padding: 0;
    background-color:rgb(220,220,220)
}

header {
    font-size: 10px;
    line-height: 1.5;
    background: #363232;
    color: #ffffff;
    border-bottom: #4d441b 2px solid;
}
header .container {
    display: flex;
    background-image: url(/Pictures/screenstock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header .box1 {
    flex: 1;
    order: 1;
    border: 0px solid blue;
    padding: 10px;
    text-align: center;
}
.contMenu {
    border: 0px solid rgb(4, 139, 4);
}
ul {
    margin: 0;
    padding: 0;
}
.contMenu {
    text-align: center;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
header li {
    display: inline;
    padding: 0 5px 0 5px;
}
header nav {
    margin-bottom: 0;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}
header .logo {
    width: 100px;
    opacity: 0.75;
}
#menuToggle input {
    display: none;
}





